<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.recommend.mapper.ListMapper">
    <select id="checkListBycNameAnduId" parameterType="hashMap" resultType="String">
        select coursename
        from userList
        where userid=#{userid} and coursename=#{coursename}
    </select>
    
    <insert id="insertList" parameterType="hashMap">
        insert into userList(userid,coursename,courseid)
        values(#{userid},#{coursename},#{courseid})
    </insert>
    
    <delete id="deleteList" parameterType="hashMap">
        delete 
        from userlist
        where userid=#{userid} and courseid=#{courseid}
    </delete>
    
    <select id="getListByUserId" parameterType="String" resultType="com.recommend.entity.Course">
        select course.courseid as courseid,course.coursename as coursename,courseimg
        from course join userlist on course.courseid=userlist.courseid
        where userid=#{userid}
    </select>
</mapper>